/* ### DEFAULTS ### */

nav {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: black;
    color: white;
}

ul.header li {
    list-style: none;
    float: right;
    padding: 15px 10px;
    margin-right: 10px;
    margin-left: -10px;
}

ul.header li a {
    text-decoration: none;
    color: white;
}

body {
    background: linear-gradient(180deg, rgba(255,239,0,1) 0%, rgba(241,166,35,1) 50%, rgba(231,100,24,1) 100%);
}

section.footer {
    width: 100%;
    float: left;
    margin-top: 20px;
    color: white;
    background-color: black;
}

section.footer h3 {
    font-family: Bungee;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 0.5rem;
}

section.footer h4 {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 0.3rem;
}

section.footer h4 a {
    text-decoration: none;
    color: white;
}

/* Home Page */

section.companyName {
    width: 100%;
    max-height: 400px;
    padding: 5px 0;
    background: url(images/background.jpg);
    background-size: 100% 100%;
    background-position: center;
    color: white;
}

section.companyName h1 {    
    text-align: left;
    font-size: 50pt;
    line-height: 10px;
    font-family: Bungee;
    margin-left: 30px;
    text-shadow: 0px 0px 15px black;
}

section.companyName h3 {
    text-align: left;
    font-size: 23px;
    margin-left: 30px;
}

section.about {
    width: 98.%;
    max-height: 400px;
    color: white;
    background-color: darkslategray;
    padding: 10px;
}

section.about h2 {
    text-align: center;
    font-family: Bungee;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

section.about p {
    margin: 10px 150px;
    font-size: 17pt;
    text-align: center;
}

section.buttonTable {
    background-color: black;
    padding: 30px;
}

section.buttonTable table {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 225px;
    height: 42px;
    text-align: center;
    background-color: white;
    margin: 10px 50px;
    border: 5px solid black;
    border-radius: 5px
}

.button a {
    text-decoration: none;
    color: black;
    font-family: Bungee;
}

/* Catalogue */

header.title h1 {
    font-family: Bungee;
    font-size: 30pt;
    text-align: center;
    margin: 5px;
    text-decoration: underline;
}

section.weapons {
    width: 98.%;
    height: auto;
    background-color: darkslategray;
    color: white;
    padding: 5px 20px;
}

section.weapons h2 {
    text-align: center;
    font-family: Bungee;
    margin: 3px;
    text-shadow: 0px 0px 4px black;
}

section.weapons table {
    margin-left: auto;
    margin-right: auto;
}

section.weapons table td {
    padding: 5px 50px;
    width: 250px;
}

section.weapons img {
    width: 100px;
    height: 100px;
    float: left;
}

section.weapons p {
    float: left;
    line-height: 3px;
    padding-left: 5px;
}

table.clickable {
    margin-left: auto;
    margin-right: auto;
}

/* Order */

section.form {
    width: 32%;
    height: 360px;
    float: left;
    color: white;
    background-color: darkslategray;
    margin: 0px 20px 5px 80px;
    padding: 10px;
}

section.form div.selfInfo {
    margin: 0px 0px 5px;
    border: 1px solid white;
}

section.form div.orderInfo {
    margin: 5px 0px 0px;
    border: 1px solid white;
    padding: 5px;
}

section.form input, select {
    margin: 5px;
}

section.desc {
    width: 32%;
    height: 360px;
    float: right;
    color: white;
    background-color: darkslategray;
    margin: 0px 80px 5px 20px;
    padding: 10px;
}

section.desc h1 {
    text-decoration: underline;
    text-align: center;
}

/* Carousel */

.carousel {
    position: relative;
    height: 150px;
    width: 300px;
    margin: 0 auto;
}

.carousel__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__track-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--right {
    left: 299px;
}

.carousel__button--left {
    left: -25px;
}

.carousel__button img {
    width: 15px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 3px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 12px;
    height: 13px;
    background: rgba(58, 62, 116, 0.5);
    margin: 0 5px;
    cursor: pointer;
}

.carousel__indicator.current-slide {
    background: rgba(58, 62, 116, 0.95);
}

.is-hidden {display: none;}