/* ### DEFAULTS ### */

nav {
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    background-color: black;
    color: white;
}

ul.header li {
    list-style: none;
    float: right;
    padding: 15px 10px;
    margin-right: 10px;
    margin-left: -10px;
}

ul.header li a {
    text-decoration: none;
    color: white;
}

/* Home Page */

section.companyName {
    width: 100%;
    max-height: 400px;
    padding: 5px 0;
    background: url(images/background.jpg);
    background-size: 100% 100%;
    background-position: center;
    color: white;
}

section.companyName h1 {    
    text-align: left;
    font-size: 50pt;
    line-height: 10px;
    font-family: Bungee;
    margin-left: 30px;
    text-shadow: 0px 0px 15px black;
}

section.companyName h3 {
    text-align: left;
    font-size: 23px;
    margin-left: 30px;
}

section.about {
    width: 98.%;
    max-height: 400px;
    color: white;
    background-color: rgb(128,128,128);
    padding: 10px;
}

section.about h2 {
    text-align: center;
    font-family: Bungee;
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 5px;
}

section.about p {
    margin: 10px 150px;
    font-size: 17pt;
    text-align: center;
}

section.buttonTable {
    background-color: black;
    padding: 30px;
}

section.buttonTable table {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 225px;
    height: 42px;
    text-align: center;
    background-color: white;
    margin: 10px 50px;
}

.button a {
    text-decoration: none;
    color: black;
    font-family: Bungee;
}

/* Catalogue */

header.title h1 {
    font-family: Bungee;
    font-size: 30pt;
    text-align: center;
    margin: 5px;
    text-decoration: underline;
}

section.weapons {
    width: 98.%;
    height: auto;
    background-color: gray;
    color: white;
    padding: 5px 20px;
}

section.weapons h2 {
    text-align: center;
    font-family: Bungee;
    margin: 3px;
    text-shadow: 0px 0px 4px black;
}

section.weapons table {
    margin-left: auto;
    margin-right: auto;
}

section.weapons table td {
    padding: 5px 50px;
}

section.weapons img {
    width: 100px;
    height: 100px;
    float: left;
}

section.weapons p {
    float: left;
    line-height: 3px;
    padding-left: 5px;
}